<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <div class="logo">Категории</div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="line"></li>
      <li class="nav-item"
          *ngFor="let category of categories"
          (click)="showTasksByCategory(category)"
          [class.active]="category === selectedCategory"
        >
        <a class="nav-link">
          <p>{{category.title}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>
